.discover {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 3rem;
  gap: 5rem;
  .filtersContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h2 {
      margin-bottom: 3rem;
      margin-left: 1rem;
      font-size: 3rem;
      font-family: $font-display;
      font-weight: 700;
      color: $primary-color;
      text-transform: capitalize;
    }
  }
  .filtered {
    min-height: 100vh;
    .filteredParams {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      .filteredCount {
        font-family: $font-display;
        font-size: 1.5rem;
        text-transform: capitalize;
      }
      .filteredDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border: none;
          border-radius: 4px;
          background: none;
          font-size: 2rem;
          cursor: pointer;

          &:first-of-type {
            margin-right: 1rem;
          }
        }
        .selected {
          background-color: $tertiary-color;
        }
      }
    }
    .filteredList {
      @include resultsList;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: start;
      li {
        .imgPoster {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
    .columnList {
      display: flex;
      flex-direction: column;
      li {
        width: 100%;
        height: 262.5px;
        display: flex;
        gap: 2rem;
        .imgPoster {
          div {
            width: 178.5px;
            border-radius: 4px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            p {
              border-bottom-left-radius: 4px;
            }
          }
          h3 {
            display: none;
          }
        }
        .listDisplayInfo {
          position: relative;
          padding: 1rem 0;
          color: $primary-color;
          a {
            display: inline;
            font-family: $font-display;
            font-size: 3rem;
            transition: 0.3s ease-in-out;

            &:hover {
              color: $tertiary-color;
            }
          }
          .listOverview {
            width: 95%;
            font-size: 1.5rem;
            line-height: 1;
            margin-top: 1rem;
          }
          .listRelease {
            position: absolute;
            bottom: 1rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

.filteredResponsive {
  margin-bottom: 10rem;
  padding: 2rem 2rem 0;
  background: $secondary-color;
  .filtersInner {
    background: transparent;
    box-shadow: none;
    h3 {
      display: none;
    }
    hr {
      display: none;
    }
  }
  .filteredCount {
    margin-bottom: 1.5rem;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .filteredList {
    @include resultsList;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    li {
      width: 125px;
      height: 250px;
      .imgPoster {
        div {
          width: 125px;
          height: 187.5px;
          p {
            margin-bottom: 0;
          }
        }
        h3 {
          height: calc(250px - 187.5px);
        }
      }
    }
  }
  .paginationList {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .discover {
    .filtered {
      .filteredList {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .discover {
    grid-template-columns: 1fr 2fr;
    .filtered {
      .filteredParams {
        .filteredDisplay {
          display: none;
        }
      }
      .filteredList {
        grid-template-columns: 1fr 1fr;
        li {
          width: 165px;
          height: 247.5px;
          .imgPoster {
            img {
              height: 100%;
              border-radius: 4px;
            }
            p {
              border-bottom-left-radius: 4px;
              bottom: 1px;
            }
            h3 {
              display: none;
            }
          }
          .listDisplayInfo {
            display: none;
          }
        }
      }
      .columnList {
        display: grid;
      }
    }
  }
}
