.displayText {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 8.9rem;
}

th {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
}

.thead {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.credits {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-bottom: 1px solid $tertiary-color;
    padding: 10px 0 10px 5px;
}

@media screen and (min-width:600px) {

    .thead {
        margin: 40px 0 60px 0;
    }
}