.picture {
  display: flex;
  justify-content: center;
}

.actorImg {
  width: 85%;
  object-fit: cover;
  border-radius: 4px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  color: $tertiary-color;
  font-family: $font-display;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-size: 16px;
  margin-bottom: 9px;
  margin-top: 15px;
  font-weight: 700;
}

.moreInfos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0 15px 0;
  font-size: 14px;
}

.actorBio {
  font-size: 14px;
}

.emptyBio {
  font-size: 14px;
}

.bioDesktop {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 1.3;
  max-height: calc(3) * 1em * 1.3;
  overflow: hidden;
}

.open {
  max-height: none;
}

.expand {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  appearance: none;
  border: none;
  border-radius: 4px;
  background: $tertiary-color;
  font-size: 14px;
  font-weight: 700;
  font-family: $font-text;
  cursor: pointer;

}

.lire {
  color: $tertiary-color;
  border: none;
}

.imgNameInfos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.titles {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (min-width: 600px) {
  .actorImg {
    width: 35%;
    object-fit: cover;
  }

  .actorImg {
    width: 35%;
    object-fit: cover;
    margin: 35px 0 40px 0;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  .actorBio {
    margin: 100px 0 30px 0;
    font-size: 16px;
    word-spacing: 3px;
    line-height: 1.6;
  }

  .emptyBio {
    font-size: 16px;
  }

  .bioDesktop {
    font-size: 16px;
  }

  .lire {
    display: none;
  }

  .cache {
    display: none;
  }

  .moreInfos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    text-align: center;
    margin: 75px 10% 0 10%;
    gap: 25px;
    font-size: 16px;

    .titles {
      font-size: 20px;
    }
  }
}