.picture {
  display: flex;
  justify-content: center;
}

.actorImg {
  width: 85%;
  object-fit: cover;
  border-radius: 4px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: $tertiary-color;
  font-family: $font-display;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-size: 15px;
  margin-bottom: 9px;
  margin-top: 15px;
  font-weight: 700;
}

.moreInfos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0 15px 0;
  font-size: 13px;
}

.actorBio {
  font-size: 13px;
}

.bioDesktop {
  display: none;
}

.lire {
  color: $tertiary-color;
  border: none;
}

.imgNameInfos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.titles {
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (min-width: 600px) {
  .actorImg {
    width: 35%;
    object-fit: cover;
  }

  .actorImg {
    width: 35%;
    object-fit: cover;
    margin: 35px 0 40px 0;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  .actorBio {
    margin: 100px 0 30px 0;
    font-size: 15px;
    word-spacing: 3px;
    line-height: 1.6;
  }

  .lire {
    display: none;
  }

  .cache {
    display: none;
  }

  .bioDesktop {
    display: flex;
  }

  .moreInfos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    text-align: center;
    margin: 75px 10% 0 10%;
    gap: 25px;
    font-size: 15px;

    .titles {
      font-size: 20px;
    }
  }
}
