.picture {
    display: flex;
    justify-content: center;
}

.actorImg {
    width: 85%;
    height: 430px;
    border-radius: 4px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: $tertiary-color;
    font-family: $font-display;
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-size: 15px;
    margin-bottom: 9px;
    margin-top: 15px;
    font-weight: 700;
}

.moreInfos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    font-size: 13px;
}

.actorBio {
    font-size: 13px;
}

.lire {
    color: $tertiary-color;
    border: none;
}

.imgNameInfos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.titles {
    font-weight: 700;
    margin-bottom: 5px;
}

@media screen and (min-width:600px) {

    .actorImg {
        width: 35%;
        object-fit: cover;
    
    }

    .actorBio {
        margin: 25px 0 30px 0;
    }

}