.actorlist {
  position: relative;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 90%;
  margin: 0 auto;

  .goBackBtn {
    display: inline;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $tertiary-color;
    }
  }
}
