@import "./directorProfile.scss";
@import "./directorMoviesCard.scss";
@import "./directorMovies.scss";

@mixin column {
  display: flex;
  flex-direction: column;
}

.directorPage {
  @include column;
  position: relative;
  align-items: center;
  width: 90%;
  margin: 30px auto 70px;
  padding: 3%;
  background-color: $secondary-color;
  border-radius: 15px;
  border-style: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  .goBackBtn {
    display: inline;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $tertiary-color;
    }
  }

  &_casting {
    color: $tertiary-color;
    font-size: 33px;
    font-family: $font-display;
  }

  &_movies {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .directorPage {
    margin: 30px auto 30px;

    &_profile {
      width: 100%;
    }
  }
}
