@mixin column {
  display: flex;
  flex-direction: column;
}

.directorProfile {
  @include column;
  align-items: center;
  width: 100%;
  gap: 10px;

  &_Picture {
    @include column;
    align-items: center;

    img {
      width: 75%;
      border-radius: 12px;
    }
  }

  &_casting {
    margin-top: 10px;
    font-size: 18px;
    font-family: $font-display;
    color: $tertiary-color;
  }

  &_Info {
    @include column;
    align-items: center;
    gap: 15px;

    &_Name {
      h2 {
        font-family: $font-display;
        color: $tertiary-color;
        font-size: 36px;
      }
    }

    .persoBox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: $font-text;

      &_Title {
        font-size: 12px;
        margin-bottom: 6px;
      }

      &_Text {
        font-size: 10px;
      }
    }

    .bioBox {
      @include column;
      gap: 7px;

      &_Title {
        font-size: 16px;
      }

      &_Little {
        height: 44px;
        font-size: 13px;
        overflow: hidden;
      }

      &_Big {
        font-size: 13px;
      }

      &_Button {
        text-align: left;
        background-color: $secondary-color;
        border: none;
        color: $tertiary-color;
        font-size: 12px;
      }

      &_Desktop {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .directorProfile {
    display: flex;
    flex-direction: row;
    align-items: initial;

    &_Picture {
      img {
        width: 300px;
      }
    }

    &_casting {
      font-size: 30px;
      margin-top: 20px;
    }

    &_Info {
      gap: 30px;

      &_Name {
        h2 {
          font-size: 44px;
        }
      }

      .persoBox {
        margin-left: 15px;

        &_Title {
          font-size: 20px;
          margin-bottom: 10px;
        }

        &_Text {
          font-size: 14px;
        }
      }

      .bioBox {
        gap: 10px;
        margin-left: 10px;

        &_Title {
          font-size: 20px;
        }

        &_Little {
          display: none;
        }

        &_Big {
          display: none;
        }

        &_Button {
          display: none;
        }

        &_Desktop {
          font-size: 18px;
          display: flex;
        }
      }
    }
  }
}
