@mixin column {
  display: flex;
  flex-direction: column;
}

.directorProfile {
  @include column;
  align-items: center;
  width: 100%;
  gap: 10px;

  &_Picture {
    @include column;
    align-items: center;

    img {
      width: 75%;
      border-radius: 12px;
    }
  }

  &_Info {
    width: 100%;
    @include column;
    align-items: center;
    gap: 15px;

    &_Name {
      h2 {
        font-family: $font-display;
        color: $tertiary-color;
        font-size: 36px;
      }
    }

    .persoBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-family: $font-text;

      &:nth-child(2) {
        div {
          &:first-of-type {
            margin-bottom: 1rem;
          }
        }
      }

      &_Title {
        font-size: 12px;
        margin-bottom: 6px;
        font-weight: 700;
      }

      &_Text {
        margin-bottom: 1rem;
        font-size: 12px;
      }
    }
  }
}

.bioBox {
  width: 90%;
  margin: 3rem auto 0;

  &_Title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &_Desktop {
    display: flex;
    position: relative;
    font-size: 12px;
    line-height: 1.3;
    max-height: calc(3) * 1em * 1.3;
    overflow: hidden;

    &:has(+ input:not(:checked))::before {
      content: "";
      position: absolute;
      height: calc(1em * 1.3);
      width: 100%;
      bottom: 0;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent, $secondary-color);
    }

    &:has(+ input:checked) {
      max-height: none;
    }
  }

  input {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    appearance: none;
    border: none;
    border-radius: 4px;
    background: $tertiary-color;
    font-size: 16px;
    font-weight: 700;
    font-family: $font-text;
    cursor: pointer;

    &::before {
      content: "Lire Plus";
    }
    &:checked::before {
      content: "Lire Moins";
    }
  }

  &_Little {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .directorProfile {
    display: flex;
    flex-direction: row;
    align-items: initial;

    &_Picture {
      img {
        width: 350px;
      }
    }

    &_Info {
      gap: 40px;

      &_Name {
        h2 {
          font-size: 44px;
        }
      }

      .persoBox {
        width: 90%;
        margin: 0 auto;
        gap: 3rem;

        &_Title {
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: 700;
        }

        &_Text {
          font-size: 16px;
        }
      }
    }
  }
  .bioBox {
    &_Title {
      font-size: 20px;
    }
    &_Desktop {
      font-size: 16px;
    }
  }
}
