@import "./directorProfile.scss";
@import "./directorMoviesCard.scss";
@import "./directorMovies.scss";
@import "./btnSlider.scss";

@mixin column {
  display: flex;
  flex-direction: column;
}

.directorPage {
  @include column;
  align-items: center;
  width: 90%;
  margin: 20px auto 100px;
  padding: 3%;
  background-color: $secondary-color;
  border-radius: 15px;
  border-style: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
