.Navbar {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .WildMoviesDiv {
    width: 200px;
    margin-left: 10px;

    .WildMovies {
      display: flex;
      justify-content: flex-start;

      .WildTitle {
        width: 200px;
      }

      .WildLogo {
        display: none;
      }
    }
  }

  .LoupeDiv {
    width: 100%;
    display: none;

    .Loupe {
      width: 100%;
      display: flex;
      justify-content: center;
      width: 80px;
      padding: 2rem;
      border-radius: 50%;
      background: #f5f5f5;
      margin-top: -35px;
      border: 5px solid #38383d;

      .GoSearch {
        display: none;
        color: $tertiary-color;
        height: 100%;
        width: 40px;
      }
    }
  }

  .divFavori {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;

    .enteteForm {
      display: flex;
      justify-content: center;
      width: 100%;

      #userTitle {
        width: 300px;
      }

      .close {
        margin: 20px 20px auto auto;
      }
    }

    .favoriTitle {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 30px;
      margin: 60px;

      .user {
        color: blue;
        font-style: italic;
        text-decoration: underline;
      }
    }

    .favori {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 16px;
      margin: 60px;

      .displayImage {
        border-radius: 12px;
      }
    }
  }

  .LoginDiv {
    .Login {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $tertiary-color;
      width: 100%;
      font-family: $font-display;
      font-size: 20px;
      font-weight: 400;
      text-decoration: underline;
      gap: 10px;
    }

    .stealth {
      background-color: $primary-color;
      border: 0;
      padding: 0;
    }

    #favoriHeart {
      width: 50px;
      height: 50px;
      background-color: $primary-color;
      border: 0;
      padding: 0;
      margin: 0;
    }

    .UserDiv {
      display: flex;
      margin-right: 10px;

      .User {
        background-color: $primary-color;
        display: flex;
        border: 0;

        .bisUser {
          color: $tertiary-color;
          height: 45px;
          width: 45px;
          transition: 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Navbar {
    position: relative;
    border: 5px none #1c6ea4;
    border-radius: 0px 0px 40px 40px;
    height: 70px;
    width: 100%;
    z-index: 100;

    &.Bottom {
      position: fixed;
      bottom: 0px;
      -webkit-border-radius: 40px 40px 0px 0px;
      -moz-border-radius: 40px 40px 0px 0px;
      border-radius: 40px 40px 0px 0px;
    }

    .LoginDiv {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .Login {
        p {
          display: none;
        }
      }
    }

    .UserDiv {
      transform: none;
      .User {
        border-radius: 50%;
        .bisUser {
          &:hover {
            transform: none;
          }
        }
      }
    }

    .WildMoviesDiv {
      width: 100%;

      .WildMovies {
        .WildTitle {
          display: none;
        }

        .WildLogo {
          display: flex;
          width: 60px;
          margin-left: 14px;
          width: 50px;
        }
      }
    }

    .LoupeDiv {
      display: flex;
      justify-content: center;

      .Loupe {
        display: flex;
        justify-content: center;

        .GoSearch {
          display: flex;
        }
      }
    }
  }
}
