@import "./secretHeader.scss";
@import "./secretActress.scss";

@mixin column {
  display: flex;
  flex-direction: column;
}

.secretPage {
  @include column;
  position: relative;
  align-items: center;
  width: 90%;
  margin: 20px auto 30px;
  padding: 3%;
  background-color: $secondary-color;
  border-radius: 15px;
  border-style: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  .goBackBtn {
    display: inline;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $tertiary-color;
    }
  }

  &_actress {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .secretPage {
    margin: 0px auto 30px;
  }
}
