.secretHeader {
  width: 100%;

  &_carousel {
    width: 100%;
    height: 500px;

    &_img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }

    .react-multiple-carousel__arrow {
      display: none;
    }

    .react-multi-carousel-item {
      opacity: 95%;
    }
  }
}

@media screen and (min-width: 600px) {
  .secretHeader {
    &_carousel {
      width: 100%;
      height: 300px;

      &_img {
        object-fit: contain;
      }
    }
  }
}
