.cardImg {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  gap: 20px;
}

.imgFilm {
  display: flex;

  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.streaming {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 10px;
  padding-bottom: 10px;

  img {
    width: 50px;
    height: auto;
    border-radius: 5px;
  }
}

.streamingCard {
  h3 {
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cardImg {
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 0;
    margin: 0;
  }

  .streamingCard {
    h3 {
      display: none;
    }
  }

  .streamLogo {
    display: flex;
    gap: 50%;
    justify-content: center;

    .streaming {
      p {
        display: none;
      }
    }
  }
}
