@import "./CardImg.scss";
@import "./CardText.scss";

.ficheFilm {
  display: flex;
  width: fit-content;
  font-family: $font-text;
  background-color: $secondary-color;
  margin: 1%;
  padding: 0.5%;
  border-radius: 10px;
  color: $primary-color;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .ficheFilm {
    flex-direction: column;
    width: fit-content;
    margin: 0;
    padding: 5px 0 0 0;
    align-items: center;
  }
}
