@mixin cardText {
  p {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-top: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
    margin-left: -1px;
    margin-bottom: 1px;
    color: $secondary-color;
    font-weight: 700;
    bottom: 2px;
    left: -20px;
    font-size: 1.5rem;
    transform: translateX(50%);
  }
  h3 {
    width: 95%;
    margin: 0 auto;
    height: calc(335px - 262.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $tertiary-color;
    }
  }
}

@mixin resultsElement {
  width: 175px;
  height: 335px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.3s ease-in-out;
  .imgPoster {
    @include cardText;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 262.5px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }
}

@mixin resultsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  li {
    @include resultsElement;
  }
}

.choiceContainer {
  width: 50%;
  padding: 3rem 0;
  margin: 0 auto;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 4px;
  p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: $tertiary-color;
  }
  .typeChoice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    button {
      width: 175px;
      height: 87.5px;
      padding: 0;
      font-size: 2.5rem;
      font-weight: 700;
      border-radius: 4px;
      border: 1px solid transparent;
      color: $secondary-color;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      filter: grayscale(1);
    }
    .selected {
      border: 1px solid $tertiary-color;
      filter: grayscale(0);
      background-blend-mode: multiply;
    }
  }
  nav {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      font-size: 1.7rem;
      font-weight: 700;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $tertiary-color;
        border-bottom: 1px solid $tertiary-color;
      }
    }
  }
}

.home {
  min-height: 100vh;
  color: $primary-color;
  background-color: #ffffff;
  padding: 3rem 0;
  padding-left: 0;
  .homeList {
    width: 85%;
    margin: 3rem auto 0;
    .resultsCount {
      margin-bottom: 1.5rem;
      font-family: $font-display;
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    .resultsList {
      @include resultsList;
    }
    .listContainer {
      position: relative;
      padding: 1.5rem;
      margin-bottom: 3rem;
      border-radius: 4px;
      h2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        font-size: 2.5rem;
        font-family: $font-display;
        span {
          margin-left: 1rem;
          color: $tertiary-color;
        }
      }
      hr {
        width: 75%;
        border-radius: 10px;
        margin: 1rem 0 0;
        border: 1px solid $tertiary-color;
      }
      .movieList {
        width: 100%;
        padding: 0;
        .react-horizontal-scrolling-menu--scroll-container {
          padding: 1rem;
          -ms-overflow-style: none;
          scrollbar-width: none;
          gap: 2rem;
          .react-horizontal-scrolling-menu--separator {
            border: 1px solid $tertiary-color;
            margin: 7rem 0;
          }
          li {
            @include resultsElement;
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      &:nth-child(3),
      &:nth-child(6) {
        background-blend-mode: multiply;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $secondary-color;
        hr {
          color: $secondary-color;
        }
        .react-horizontal-scrolling-menu--scroll-container {
          .react-horizontal-scrolling-menu--separator {
            border: 1px solid $secondary-color;
          }
        }
        span {
          color: $secondary-color;
        }
      }
      &:not(:nth-child(3), :nth-child(6)) {
        background-color: $secondary-color;
        background-image: none !important;
        box-shadow: inset 20px -20px 60px #bebebe, inset -20px 20px 60px #ffffff;
      }
      &:after {
        content: "";
        width: 70px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          #ffffff 100%
        );
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .filtersContainer {
    display: none;
  }
  main {
    margin-left: 2%;
  }
}
