.filters {
  color: $primary-color;
  background-color: #ffffff;
  padding: 2rem;
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  .filtersContainer {
    .searchContainer {
      margin-left: 37%;
      .searchBar {
        width: 100%;
        display: block;
        outline: none;
        background-color: transparent;
        border: 1px solid $primary-color;
        border-radius: 15px;
        padding: 0.5rem 0.3rem;
      }
    }
    .filtersInner {
      width: 25%;
      height: 100vh;
      padding: 1.5rem;
      position: fixed;
      border-radius: 4px;
      background-color: $secondary-color;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .selectContainer {
        margin: 1.5rem 0;
        .react-select-container {
          width: 100%;
          cursor: pointer;
          margin-bottom: 1rem;
          &:last-of-type {
            margin-bottom: 0;
          }
          .react-select__menu {
            position: absolute;
            z-index: 100;
          }
        }
      }
      .sliderContainer {
        margin: 1.5rem 0;
        text-align: left;
        .multi-range-slider {
          margin-bottom: 1rem;
          box-shadow: none;
          border: none;
          .bar-left,
          .bar-right {
            background-color: $primary-color !important;
            box-shadow: none !important;
          }
          .bar-inner {
            background-color: $tertiary-color !important;
            box-shadow: none !important;
          }
          .thumb::before {
            box-shadow: none !important;
            background-color: $secondary-color !important;
            &:active {
              background-color: $tertiary-color !important;
            }
          }
          .caption {
            span {
              background-color: $tertiary-color !important;
            }
          }
          .ruler-rule {
            border-color: $tertiary-color !important;
          }
        }
      }
    }
  }
  .resultsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    grid-column-gap: 1rem;
  }
}

main {
  margin-top: 3rem;
  margin-left: 37%;
  .listContainer {
    padding: 1.5rem;
    background-color: $secondary-color;
    margin-bottom: 2rem;
    border-radius: 4px;
    h2 {
      margin-bottom: 0.5rem;
      text-align: start;
      font-size: 1.5rem;
      font-family: $font-display;
    }
    hr {
      width: 75%;
      border-radius: 10px;
      margin: 1rem 0;
    }
    .movieList {
      width: 100%;
      padding: 0;
      cursor: url(../../assets/cursor/cursorScroll.svg), auto;
      .react-horizontal-scrolling-menu--scroll-container {
        -ms-overflow-style: none;
        scrollbar-width: none;
        li {
          margin-right: 1rem;
          .imgPoster {
            position: relative;
            img {
              width: 175px;
              border-radius: 4px;
            }
            p {
              position: absolute;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: rgba(0, 0, 0, 0.7);
              border-radius: 50px;
              font-weight: 700;
              bottom: 1rem;
              right: 50%;
              transform: translateX(50%);
            }
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
