.footerApp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #38383d;
  .footerContainer {
    width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    #logoW {
      width: 4rem;
      height: 4rem;
    }
    .textLogo {
      .logos {
        display: flex;
        justify-content: center;
        gap: 70px;
        a {
          display: block;
          font-size: 3.5rem;
          color: $tertiary-color;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
    .btnToTop {
      font-size: 4rem;
      width: 4rem;
      height: 4rem;
      border: none;
      background-color: transparent;
      color: $tertiary-color;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $secondary-color;
      }
    }
  }
  .text {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    color: $secondary-color;
  }
}

@media screen and (max-width: 600px) {
  .footerApp {
    display: none;
  }
}
