// Slider

.slider {
  background-color: $primary-color;
  width: 100%;
  height: 500px;
  position: absolute;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
  transform: scale(0.9);
  pointer-events: none;
}

.current {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.image {
  opacity: 95%;
  object-fit: cover;
}

.slide img {
  width: 100%;
  height: 500px;
}

// Texte sur le slide mobile first

.header {
  position: relative;
  height: 500px;
}

.smartBox {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  height: 500px;
  width: 100%;
}

.wildMovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 45px;
  border-style: hidden;
  background-color: $primary-color;
  width: 300px;
  height: 60px;
  margin-top: 35px;
  text-align: center;
}

h1 {
  font-family: $font-display;
  font-size: 52px;
  color: white;
  span {
    color: $tertiary-color;
  }
}

.headerTitle {
  font-family: $font-display;
  font-size: 48px;
  text-align: center;
  color: white;
}

.searchButton {
  font-family: $font-display;
  font-size: 36px;
  color: $primary-color;
  background-color: $tertiary-color;
  width: 260px;
  height: 60px;
  border-radius: 45px;
  border: none;
}

// Input desktop

.searchBarBox {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 45px 45px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  input {
    border: 3px solid transparent;
    color: $tertiary-color;
  }
  input::placeholder {
    color: $primary-color;
  }

  input:focus {
    color: $tertiary-color;
    border: 3px solid $tertiary-color;
    outline: none;
  }
}

.searchBar {
  display: none;
  width: 100%;
  background-color: $secondary-color;
  height: 35px;
  border-radius: 45px 0px 0px 45px;
  text-indent: 30px;
}

.searchButtonDesktop {
  display: none;
  font-family: $font-display;
  align-items: center;
  font-size: 20px;
  color: $primary-color;
  background-color: $tertiary-color;
  width: 150px;
  height: 43px;
  border: none;
  border-radius: 0px 45px 45px 0px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

// Medias queries

@media screen and (min-width: 600px) {
  .searchButtonDesktop {
    display: flex;
    &:hover {
        color: $secondary-color;
    }
  }

  .slide {
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .current {
    opacity: 1;
    transform: translateX(0);
  }

  .header {
    height: 300px;
  }

  .headerTitle {
    width: 90%;
    margin: 0 auto;
  }

  .slide img {
    width: 100%;
    height: 300px;
  }

  .smartBox {
    height: 300px;
  }

  .slider {
    height: 300px;
  }

  .wildMovies {
    display: none;
  }

  .searchButton {
    display: none;
  }

  .searchBar {
    display: initial;
  }

  .headerTitle {
    font-size: 48px;
  }
}

@media screen and (min-width: 1355px) {
  .header {
    height: 350px;
  }
  .slide {
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .current {
    opacity: 1;
    transform: translateX(0);
  }

  .slide img {
    width: 100%;
    height: 350px;
  }

  .smartBox {
    height: 350px;
  }

  .slider {
    height: 350px;
  }

  .wildMovies {
    display: none;
  }

  .searchButton {
    display: none;
  }

  .searchBar {
    display: initial;
  }

  .headerTitle {
    font-size: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .header {
    height: 400px;
  }
  .slide {
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .current {
    opacity: 1;
    transform: translateX(0);
  }

  .slide img {
    width: 100%;
    height: 400px;
  }

  .smartBox {
    height: 400px;
  }

  .slider {
    height: 400px;
  }

  .wildMovies {
    display: none;
  }

  .searchButton {
    display: none;
  }

  .searchBar {
    display: initial;
  }

  .headerTitle {
    font-size: 60px;
  }
}
