@import "./LecteurBA.scss";
@import "./Casting.scss";
@import "./VoteAverage.scss";

.cardText {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 10px;
  gap: 20px;
}

.titleFilm {
  font-size: 3.5em;
  font-weight: 1000;
  margin-bottom: 10px;
}

.filtreFilm {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .separation {
    width: 2px;
    height: 15px;
    background-color: $primary-color;
  }

  .genreh4 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: 600;
    gap: 20px;

    .genreP {
      display: flex;
      padding: 5px;
      border-radius: 15px;
      color: $tertiary-color;
      // background-color: $tertiary-color;
      // border: solid 2px $primary-color;
    }
  }

  .dureeFilm {
    .time {
      p {
        font-size: 2em;
        font-weight: 600;
        color: $primary-color;
      }
    }
  }

  .pegiFilm img {
    width: 30px;
  }
}

.avisFilm {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 10px;

  .diagramAvis {
    display: flex;
    align-items: center;
    width: auto;
    gap: 5px;
  }
}

#logoFavoris {
  width: 50px;
  height: 50px;
}

.synopsisFilm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;

  h3 {
    font-size: 2.5em;
    font-weight: 700;
  }

  p {
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .cardText {
    padding: 0;
    margin: 65vh 5px 100px 25px;
    width: 95%;
    font-size: 1.5em;
  }

  .filtreFilm {
    gap: 10px;
    flex-wrap: wrap;

    .genreh4 {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
