.cardText {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 10px;
  gap: 20px;

  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .goBackBtn {
      display: inline;
      background: none;
      border: none;
      font-size: 2.5rem;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $tertiary-color;
      }
    }
  }
}

.titleFilm {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.filtreFilm {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .separation {
    width: 2px;
    height: 15px;
    background-color: $primary-color;
  }

  .genreP {
    display: flex;
    font-size: 2em;
    font-weight: 600;
    gap: 20px;
    padding: 5px;
    border-radius: 15px;
    color: $tertiary-color;
  }
}

.dureeFilm {
  .time {
    p {
      font-size: 2em;
      font-weight: 600;
      color: $primary-color;
    }
  }
}

.pegiFilm img {
  width: 30px;
}

.avisFilm {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 10px;

  .diagramAvis {
    display: flex;
    align-items: center;
    width: auto;
    gap: 5px;
  }
}

#logoFavoris {
  width: 50px;
  height: 50px;
}

.synopsisFilm {
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: 700;
  }

  p {
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5em;
  }
}

.divParenteCaroussel {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .cardText {
    padding: 0;
    margin: 0 0 100px 0;
    width: 90%;
    font-size: 1.5em;

    .filtreFilm {
      gap: 10px;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 20px;
      display: flex;
    }

    .avisFilm {
      margin-bottom: 20px;
    }

    .synopsisFilm {
      margin-bottom: 20px;
    }

    .close {
      display: none;
    }
  }
}
