@mixin column {
  display: flex;
  flex-direction: column;
}

.castingCarouCard {
  background-color: $secondary-color;
  margin: 8%;
  border-radius: 5px;
  border-color: solid 1px $primary-color;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  height: 335px;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &_img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
  }

  &_title {
    @include column;
    align-items: center;
    z-index: 2;
    margin-top: 10px;
    padding: 5px;
    gap: 5px;
    height: 25%;

    &_name {
      color: $tertiary-color;
      font-size: 1.75em;
      font-weight: 800;
    }

    &_year {
      font-size: 1.5em;
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .castingCarouCard {
    width: 185px;
    height: fit-content;
    margin: auto;
    transform: scale(0.85);
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover {
      transform: scale(0.85);
    }

    &_img {
      width: 100%;
      height: 278px;
    }

    &_title {
      width: 100%;
      height: 70px;
      margin: 0, auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
