.castingCarouDiv {
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;

  .castingCarou {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_carousel {
      width: 100%;
      height: 100%;

      .react-multiple-carousel__arrow {
        background-color: $tertiary-color;
        width: 50px;
        height: 50px;
        z-index: 3;

        &--right {
          &:before {
            content: "\2771";
          }
        }

        &--left {
          &:before {
            content: "\2770";
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .castingCarouDiv {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 20px auto;

    .castingCarou {
      width: 100%;
      height: 100%;

      &_carousel {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .castingCarouDiv {
    width: 500px;
    height: 400px;
    display: flex;
    margin: 20px auto;

    .castingCarou {
      width: 100%;
      height: 100%;

      &_carousel {
        width: 100%;
        height: 100%;
      }
    }
  }
}
