@import "./CardImg.scss";
@import "./CardText.scss";
@import "./Modal.scss";
@import "./ButtonActor.scss";
@import "./LecteurBA.scss";
@import "./VoteAverage.scss";
@import "./CastingCarou.scss";
@import "./CastingCarouCard.scss";

.ficheFilm {
  min-height: 100vh;
  display: flex;
  width: 98%;
  font-family: $font-text;
  background-color: $secondary-color;
  margin: 1%;
  padding: 0.5%;
  border-radius: 10px;
  color: $primary-color;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background: $secondary-color;
  z-index: 1;

  p {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: $tertiary-color;
  }
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: $tertiary-color transparent $tertiary-color transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .ficheFilm {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
  }
}
