@import "./Modal.scss";

.lecteurBAMobile {
  display: none;
}

.lecteurBA {
  display: flex;
  width: 200px;
  height: 45px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: solid 2px noir;
  border-radius: 20px;
  cursor: pointer;
  background-color: $tertiary-color;

  .popupLecteurBA {
    width: 100%;
    height: 100%;
    border: none;
    font-family: $font-text;
    color: $primary-color;
    font-weight: 600;
    font-size: 1em;
    border: transparent;
    background: linear-gradient(to top,
        transparent 16%,
        $secondary-color 16.01%,
        $secondary-color 20%,
        transparent 20.01%) no-repeat;
    transition: all 300ms ease-out;
    background-position: 50%;
    background-size: 0% 100%;
    cursor: pointer;

    &:hover {
      background-position: center;
      transition: all 300ms ease-in-out;
      background-size: 70% 100%;
    }
  }

  .logoLecteur {
    width: 50px;
    height: 50px;
    transform: translateX(-5%);
  }

  &:hover {
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
  }
}

@media screen and (max-width: 800px) {
  .lecteurBA {
    display: none;
  }

  a {
  .lecteurBAMobile {
    display: flex;
    width: 200px;
    height: 45px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: solid 2px noir;
    border-radius: 20px;
    cursor: pointer;
    background-color: $tertiary-color;


      .popupLecteurBAMobile {
        width: 100%;
        height: 100%;
        border: none;
        font-family: $font-text;
        color: $primary-color;
        font-weight: 600;
        font-size: 1em;
        border: transparent;
        background: linear-gradient(to top,
            transparent 16%,
            $secondary-color 16.01%,
            $secondary-color 20%,
            transparent 20.01%) no-repeat;
        transition: all 300ms ease-out;
        background-position: 50%;
        background-size: 0% 100%;
        cursor: pointer;
      }

      .logoLecteurMobile {
        width: 50px;
        height: 50px;
        transform: translateX(-5%);
      }
    }
  }
}