@import "./Modal.scss";

.popupLecteurBA {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  #logoLecteur {
    width: 50px;
    height: 50px;
  }

  &:hover {
    transition: all 250ms ease-out;
    transform: scale(1.1);
  }
}

.lecteurBa2 {
  display: none;
}

@media screen and (max-width: 800px) {
  .lecteurBa2 {
    display: flex;
  }

  .mobileLecteur2 {
    display: flex;
    gap: 15px;

    a {
      cursor: pointer;
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }

    #logoLecteur2 {
      width: 50px;
      height: 50px;
    }

    &:hover {
      transition: all 250ms ease-out;
      transform: scale(1.1);
    }
  }

  .popupLecteurBA {
    display: none;
  }
}
